<!-- This is the page that the user can use to add states to their bucket list -->
<!-- Page Title -->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">States Teleporter</a>
        <ul id="nav-mobile" class="right ">
            <li><a href="/view/countries/{{this.user}}">Add Countries</a></li>
            <li><a href="/view/cities/{{this.user}}">Add Cities</a></li>
            <li><a href="/view/bucketlist/{{this.user}}">View Profile</a></li>
        </ul>
    </div>
</nav>
<!-- Dynamically Render Country Tiles -->
<main id="tilesContent">
    {{#each states}}
    <div class="tile card white">
        <div class="card-content black-text">
            <div>{{this.stateName}}</div>
            <div class="imgDiv" style="background-image: url('{{this.stateImageURL}}')"></div>
            <div class="plusMinusIcon" data-locationtype="state" data-locationid="{{this.id}}"><a class="btn btn-floating waves-effect waves-light teal darken-1"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
    {{/each}}
</main>
<!-- Link in jQuery -->
<script type="text/javascript" src="/assets/javascript/jquery-3.1.1.min.js"></script>
<!-- Add Location to Bucketlist -->
<script type="text/javascript" src="/assets/javascript/add-countries-states-cities.js"></script>
