<!-- Page Title -->
<nav>
  <div class="nav-wrapper blue-grey lighten-1">
    <a href="#!" class="brand-logo">User Account</a>
  </div>
</nav>


<!-- Dynamically Render Country Tiles -->
<div style="font-size: 30px;">Countries</div>
<main id="tilesContent">
  {{#each bucketlist}}
    {{#each Countries}}

    <div class="tile card blue-grey darken-1">
      <div class="card-content white-text">
       <div>{{this.countryName}}</div>
                                                                <!-- Image API LINK HERE -->
        <div class="imgDiv" style="background-image: url('{{this.countryImageURL}}')"></div>
          <div id="{{this.id}}" class="plusMinusIcon"><a class="btn btn-floating waves-effect waves-light"><i class="material-icons">add</i></a>
        </div>

      </div>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn" href="#modal1">Find Travel Buddy</a>
    </div>

    {{/each}}
  {{/each}}
</main>



<!-- Dynamically Render State Tiles -->
<div style="font-size: 30px;">States</div>
<main id="tilesContent">
  {{#each bucketlist}}
    {{#each States}}

    <div class="tile card blue-grey darken-1">
      <div class="card-content white-text">
       <div>{{this.stateName}}</div>
                                                                <!-- Image API LINK HERE -->
        <div class="imgDiv" style="background-image: url('{{this.stateImageURL}}')"></div>
          <div id="{{this.id}}" class="plusMinusIcon"><a class="btn btn-floating waves-effect waves-light"><i class="material-icons">add</i></a>
        </div>

      </div>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn" href="#modal1">Find Travel Buddy</a>
    </div>

    {{/each}}
  {{/each}}
</main>



<!-- Dynamically Render City Tiles -->
<div style="font-size: 30px;">Cities</div>
<main id="tilesContent">
  {{#each bucketlist}}
    {{#each Cities}}

    <div class="tile card blue-grey darken-1">
      <div class="card-content white-text">
       <div>{{this.cityName}}</div>
                                                                <!-- Image API LINK HERE -->
        <div class="imgDiv" style="background-image: url('{{this.cityImageURL}}')"></div>
          <div id="{{this.id}}" class="plusMinusIcon"><a class="btn btn-floating waves-effect waves-light"><i class="material-icons">add</i></a>
        </div>

      </div>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn" href="#modal1">Find Travel Buddy</a>
    </div>

    {{/each}}
  {{/each}}
</main>




<!-- Module to show shared Users -->
