<!-- Page Title -->
<nav>
  <div class="nav-wrapper blue-grey lighten-1">
    <a href="#!" class="brand-logo">User Account</a>
  </div>
</nav>


<!-- Dynamically Render Country Tiles -->
<div style="font-size: 30px;">Countries</div>
<main id="tilesContent">
  {{#each bucketlist}}
    {{#each Countries}}

    <div class="tile card blue-grey darken-1">
      <div class="card-content white-text">
       <div>{{this.countryName}}</div>
                                                                <!-- Image API LINK HERE -->
        <div class="imgDiv" style="background-image: url('{{this.countryImageURL}}')"></div>
          <div class="plusMinusIcon" data-locationtype="country" data-locationid="{{this.id}}"><a class="btn btn-floating waves-effect waves-light"><i class="material-icons">remove</i></a>
        </div>

      </div>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn buddyButton" href="#modal1" data-locationtype="country" data-locationname="{{this.countryName}}" data-locationid="{{this.id}}">Find Travel Buddy</a>
    </div>

    {{/each}}
  {{/each}}
</main>



<!-- Dynamically Render State Tiles -->
<div style="font-size: 30px;">States</div>
<main id="tilesContent">
  {{#each bucketlist}}
    {{#each States}}

    <div class="tile card blue-grey darken-1">
      <div class="card-content white-text">
       <div>{{this.stateName}}</div>
                                                                <!-- Image API LINK HERE -->
        <div class="imgDiv" style="background-image: url('{{this.stateImageURL}}')"></div>
          <div class="plusMinusIcon" data-locationtype="state" data-locationid="{{this.id}}"><a class="btn btn-floating waves-effect waves-light"><i class="material-icons">remove</i></a>
        </div>

      </div>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn buddyButton" href="#modal1" data-locationtype="state" data-locationname="{{this.stateName}}" data-locationid="{{this.id}}">Find Travel Buddy</a>
    </div>

    {{/each}}
  {{/each}}
</main>



<!-- Dynamically Render City Tiles -->
<div style="font-size: 30px;">Cities</div>
<main id="tilesContent">
  {{#each bucketlist}}
    {{#each Cities}}

    <div class="tile card blue-grey darken-1">
      <div class="card-content white-text">
       <div>{{this.cityName}}</div>
                                                                <!-- Image API LINK HERE -->
        <div class="imgDiv" style="background-image: url('{{this.cityImageURL}}')"></div>
          <div class="plusMinusIcon" data-locationtype="city" data-locationid="{{this.id}}"><a class="btn btn-floating waves-effect waves-light"><i class="material-icons">remove</i></a>
        </div>

      </div>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger buddyButton" href="#modal1" data-locationtype="city" data-locationname="{{this.cityName}}" data-locationid="{{this.id}}">Find Travel Buddy</a>
    </div>

    {{/each}}
  {{/each}}
</main>




<!-- Module to show shared Users -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 id="modalTitle"></h4>
      <table id="buddyTable">
        <!-- Dynamically append users to table -->
      </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Got It!</a>
    </div>
  </div>


<script type="text/javascript" src="/assets/javascript/jquery-3.1.1.min.js"></script>
 <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<!-- Modal click Listener -->
<script type="text/javascript">
 
      $(document).on('click', '.buddyButton', function() {

        // Get location name and append to modal title
        var locationName = $(this).data("locationname");
        $("#modalTitle").text("Your Travel Buddies for " + locationName);

        // Get the location type and its Id
        var locationType = $(this).data("locationtype")
        var locationId = $(this).data("locationid")

        // Get the current user's Id (to avoid showing their name in the list later)
        var currentUserId = window.location.pathname;
        currentUserId = currentUserId.split('/');
        currentUserId = parseInt(currentUserId[3]);


        // Query the correct Table in the DB
        var queryURL = 'http://localhost:3000/find-all-users/' + locationType + '/' + locationId;
        $.ajax({url: queryURL, method: 'GET'}).done(function(response){

          console.log(response[0].Users)

          // If there is only 1 user in the response, no other ppl want to go there... yet
          if(response[0].Users.length == 1){
            $('#buddyTable').empty();
            $('#buddyTable').append("<p>Sorry! No other users want to travel here yet.</p>");
          }
          // Otherwise, Iterate through the JSON response and append all users
          else{
            $('#buddyTable').empty();
            $('#buddyTable').append("<tr><td>Buddy Name</td><td>Buddy Email</td></tr>")

            for(var i=0; i < response[0].Users.length; i++){

              // Omit the JSON where the current user is (no need to see their own info)
              if(response[0].Users[i].id != currentUserId){

                // Create Entries for Buddy Table
                var newRow = $('<tr>');

                // Create New HTML Data Cells (done for each value from Firebase)
                var buddyName = $('<td>');
                var buddyEmail = $('<td>');

                // Add text to the HTML Data Cells
                buddyName.text(response[0].Users[i].firstName + " " + response[0].Users[i].lastName);
                buddyEmail.text(response[0].Users[i].email);

                // Append HTML Data Cells to the new Row
                newRow.append(buddyName);
                newRow.append(buddyEmail);

                // Append new Row to the HTML Table
                $('#buddyTable').append(newRow);

              }

            }

          }

        });
        
        
         $('#modal1').openModal();
      })

</script>


<!-- Remove Location from Bucketlist -->
<script type="text/javascript">
 
  $(document).on('click', '.plusMinusIcon', function() {

    // Get the location type and its Id
    var locationType = $(this).data("locationtype")
    var locationId = $(this).data("locationid")

    // Get the current user's Id (to avoid showing their name in the list later)
    var currentUserId = window.location.pathname;
    currentUserId = currentUserId.split('/');
    currentUserId = parseInt(currentUserId[3]);


    // Query the correct Table in the DB
    var queryURL = 'http://localhost:3000/remove/' + locationType + '/' + currentUserId + '/' + locationId;

    $.ajax({url: queryURL, method: 'GET'}).done(function(response){
      // Refresh the page after AJAX call is done
      window.location.reload();
    })

  });


</script>